/* Copyright 2018 Onestein
 * License AGPL-3.0 or later (https://www.gnu.org/licenses/agpl). */

body #oe_manipulators .oe_overlay > .oe_overlay_options {
    width: 400px;
}

.o_snippet_preset_del {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    line-height: 200%;
}
