@charset "UTF-8";
/* © 2015 Grupo ESOC Ingeniería de Servicios, S.L.U. - Jairo Llopis
 * License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html). */
*.bg-left {
  background-position: left; }
  *.bg-left.bg-top {
    background-position: left top; }
  *.bg-left.bg-center-v {
    background-position: left center; }
  *.bg-left.bg-bottom {
    background-position: left bottom; }
*.bg-center-h {
  background-position: center; }
  *.bg-center-h.bg-top {
    background-position: center top; }
  *.bg-center-h.bg-center-v {
    background-position: center center; }
  *.bg-center-h.bg-bottom {
    background-position: center bottom; }
*.bg-right {
  background-position: right; }
  *.bg-right.bg-top {
    background-position: right top; }
  *.bg-right.bg-center-v {
    background-position: right center; }
  *.bg-right.bg-bottom {
    background-position: right bottom; }
*.bg-top {
  background-position: top; }
  *.bg-top.bg-left {
    background-position: top left; }
  *.bg-top.bg-center-h {
    background-position: top center; }
  *.bg-top.bg-right {
    background-position: top right; }
*.bg-center-v {
  background-position: center; }
  *.bg-center-v.bg-left {
    background-position: center left; }
  *.bg-center-v.bg-center-h {
    background-position: center center; }
  *.bg-center-v.bg-right {
    background-position: center right; }
*.bg-bottom {
  background-position: bottom; }
  *.bg-bottom.bg-left {
    background-position: bottom left; }
  *.bg-bottom.bg-center-h {
    background-position: bottom center; }
  *.bg-bottom.bg-right {
    background-position: bottom right; }
*.bg-repeat-h {
  background-repeat: repeat; }
  *.bg-repeat-h.bg-repeat-v {
    background-repeat: repeat repeat; }
  *.bg-repeat-h.bg-space-v {
    background-repeat: repeat space; }
  *.bg-repeat-h.bg-round-v {
    background-repeat: repeat round; }
  *.bg-repeat-h.bg-no-repeat-v {
    background-repeat: repeat no-repeat; }
*.bg-space-h {
  background-repeat: space; }
  *.bg-space-h.bg-repeat-v {
    background-repeat: space repeat; }
  *.bg-space-h.bg-space-v {
    background-repeat: space space; }
  *.bg-space-h.bg-round-v {
    background-repeat: space round; }
  *.bg-space-h.bg-no-repeat-v {
    background-repeat: space no-repeat; }
*.bg-round-h {
  background-repeat: round; }
  *.bg-round-h.bg-repeat-v {
    background-repeat: round repeat; }
  *.bg-round-h.bg-space-v {
    background-repeat: round space; }
  *.bg-round-h.bg-round-v {
    background-repeat: round round; }
  *.bg-round-h.bg-no-repeat-v {
    background-repeat: round no-repeat; }
*.bg-no-repeat-h {
  background-repeat: no-repeat; }
  *.bg-no-repeat-h.bg-repeat-v {
    background-repeat: no-repeat repeat; }
  *.bg-no-repeat-h.bg-space-v {
    background-repeat: no-repeat space; }
  *.bg-no-repeat-h.bg-round-v {
    background-repeat: no-repeat round; }
  *.bg-no-repeat-h.bg-no-repeat-v {
    background-repeat: no-repeat no-repeat; }
*.bg-repeat-v {
  background-repeat: repeat; }
  *.bg-repeat-v.bg-repeat-h {
    background-repeat: repeat repeat; }
  *.bg-repeat-v.bg-space-h {
    background-repeat: repeat space; }
  *.bg-repeat-v.bg-round-h {
    background-repeat: repeat round; }
  *.bg-repeat-v.bg-no-repeat-h {
    background-repeat: repeat no-repeat; }
*.bg-space-v {
  background-repeat: space; }
  *.bg-space-v.bg-repeat-h {
    background-repeat: space repeat; }
  *.bg-space-v.bg-space-h {
    background-repeat: space space; }
  *.bg-space-v.bg-round-h {
    background-repeat: space round; }
  *.bg-space-v.bg-no-repeat-h {
    background-repeat: space no-repeat; }
*.bg-round-v {
  background-repeat: round; }
  *.bg-round-v.bg-repeat-h {
    background-repeat: round repeat; }
  *.bg-round-v.bg-space-h {
    background-repeat: round space; }
  *.bg-round-v.bg-round-h {
    background-repeat: round round; }
  *.bg-round-v.bg-no-repeat-h {
    background-repeat: round no-repeat; }
*.bg-no-repeat-v {
  background-repeat: no-repeat; }
  *.bg-no-repeat-v.bg-repeat-h {
    background-repeat: no-repeat repeat; }
  *.bg-no-repeat-v.bg-space-h {
    background-repeat: no-repeat space; }
  *.bg-no-repeat-v.bg-round-h {
    background-repeat: no-repeat round; }
  *.bg-no-repeat-v.bg-no-repeat-h {
    background-repeat: no-repeat no-repeat; }
*.bg-size-auto-h {
  background-size: auto; }
  *.bg-size-auto-h.bg-size-auto-v {
    background-size: auto auto; }
  *.bg-size-auto-h.bg-size-contain-v {
    background-size: auto contain; }
  *.bg-size-auto-h.bg-size-cover-v {
    background-size: auto cover; }
  *.bg-size-auto-h.bg-size-25-v {
    background-size: auto 25%; }
  *.bg-size-auto-h.bg-size-50-v {
    background-size: auto 50%; }
  *.bg-size-auto-h.bg-size-75-v {
    background-size: auto 75%; }
  *.bg-size-auto-h.bg-size-100-v {
    background-size: auto 100%; }
*.bg-size-contain-h {
  background-size: contain; }
  *.bg-size-contain-h.bg-size-auto-v {
    background-size: contain auto; }
  *.bg-size-contain-h.bg-size-contain-v {
    background-size: contain contain; }
  *.bg-size-contain-h.bg-size-cover-v {
    background-size: contain cover; }
  *.bg-size-contain-h.bg-size-25-v {
    background-size: contain 25%; }
  *.bg-size-contain-h.bg-size-50-v {
    background-size: contain 50%; }
  *.bg-size-contain-h.bg-size-75-v {
    background-size: contain 75%; }
  *.bg-size-contain-h.bg-size-100-v {
    background-size: contain 100%; }
*.bg-size-cover-h {
  background-size: cover; }
  *.bg-size-cover-h.bg-size-auto-v {
    background-size: cover auto; }
  *.bg-size-cover-h.bg-size-contain-v {
    background-size: cover contain; }
  *.bg-size-cover-h.bg-size-cover-v {
    background-size: cover cover; }
  *.bg-size-cover-h.bg-size-25-v {
    background-size: cover 25%; }
  *.bg-size-cover-h.bg-size-50-v {
    background-size: cover 50%; }
  *.bg-size-cover-h.bg-size-75-v {
    background-size: cover 75%; }
  *.bg-size-cover-h.bg-size-100-v {
    background-size: cover 100%; }
*.bg-size-25-h {
  background-size: 25%; }
  *.bg-size-25-h.bg-size-auto-v {
    background-size: 25% auto; }
  *.bg-size-25-h.bg-size-contain-v {
    background-size: 25% contain; }
  *.bg-size-25-h.bg-size-cover-v {
    background-size: 25% cover; }
  *.bg-size-25-h.bg-size-25-v {
    background-size: 25% 25%; }
  *.bg-size-25-h.bg-size-50-v {
    background-size: 25% 50%; }
  *.bg-size-25-h.bg-size-75-v {
    background-size: 25% 75%; }
  *.bg-size-25-h.bg-size-100-v {
    background-size: 25% 100%; }
*.bg-size-50-h {
  background-size: 50%; }
  *.bg-size-50-h.bg-size-auto-v {
    background-size: 50% auto; }
  *.bg-size-50-h.bg-size-contain-v {
    background-size: 50% contain; }
  *.bg-size-50-h.bg-size-cover-v {
    background-size: 50% cover; }
  *.bg-size-50-h.bg-size-25-v {
    background-size: 50% 25%; }
  *.bg-size-50-h.bg-size-50-v {
    background-size: 50% 50%; }
  *.bg-size-50-h.bg-size-75-v {
    background-size: 50% 75%; }
  *.bg-size-50-h.bg-size-100-v {
    background-size: 50% 100%; }
*.bg-size-75-h {
  background-size: 75%; }
  *.bg-size-75-h.bg-size-auto-v {
    background-size: 75% auto; }
  *.bg-size-75-h.bg-size-contain-v {
    background-size: 75% contain; }
  *.bg-size-75-h.bg-size-cover-v {
    background-size: 75% cover; }
  *.bg-size-75-h.bg-size-25-v {
    background-size: 75% 25%; }
  *.bg-size-75-h.bg-size-50-v {
    background-size: 75% 50%; }
  *.bg-size-75-h.bg-size-75-v {
    background-size: 75% 75%; }
  *.bg-size-75-h.bg-size-100-v {
    background-size: 75% 100%; }
*.bg-size-100-h {
  background-size: 100%; }
  *.bg-size-100-h.bg-size-auto-v {
    background-size: 100% auto; }
  *.bg-size-100-h.bg-size-contain-v {
    background-size: 100% contain; }
  *.bg-size-100-h.bg-size-cover-v {
    background-size: 100% cover; }
  *.bg-size-100-h.bg-size-25-v {
    background-size: 100% 25%; }
  *.bg-size-100-h.bg-size-50-v {
    background-size: 100% 50%; }
  *.bg-size-100-h.bg-size-75-v {
    background-size: 100% 75%; }
  *.bg-size-100-h.bg-size-100-v {
    background-size: 100% 100%; }
*.bg-size-auto-v {
  background-size: auto; }
  *.bg-size-auto-v.bg-size-auto-h {
    background-size: auto auto; }
  *.bg-size-auto-v.bg-size-contain-h {
    background-size: auto contain; }
  *.bg-size-auto-v.bg-size-cover-h {
    background-size: auto cover; }
  *.bg-size-auto-v.bg-size-25-h {
    background-size: auto 25%; }
  *.bg-size-auto-v.bg-size-50-h {
    background-size: auto 50%; }
  *.bg-size-auto-v.bg-size-75-h {
    background-size: auto 75%; }
  *.bg-size-auto-v.bg-size-100-h {
    background-size: auto 100%; }
*.bg-size-contain-v {
  background-size: contain; }
  *.bg-size-contain-v.bg-size-auto-h {
    background-size: contain auto; }
  *.bg-size-contain-v.bg-size-contain-h {
    background-size: contain contain; }
  *.bg-size-contain-v.bg-size-cover-h {
    background-size: contain cover; }
  *.bg-size-contain-v.bg-size-25-h {
    background-size: contain 25%; }
  *.bg-size-contain-v.bg-size-50-h {
    background-size: contain 50%; }
  *.bg-size-contain-v.bg-size-75-h {
    background-size: contain 75%; }
  *.bg-size-contain-v.bg-size-100-h {
    background-size: contain 100%; }
*.bg-size-cover-v {
  background-size: cover; }
  *.bg-size-cover-v.bg-size-auto-h {
    background-size: cover auto; }
  *.bg-size-cover-v.bg-size-contain-h {
    background-size: cover contain; }
  *.bg-size-cover-v.bg-size-cover-h {
    background-size: cover cover; }
  *.bg-size-cover-v.bg-size-25-h {
    background-size: cover 25%; }
  *.bg-size-cover-v.bg-size-50-h {
    background-size: cover 50%; }
  *.bg-size-cover-v.bg-size-75-h {
    background-size: cover 75%; }
  *.bg-size-cover-v.bg-size-100-h {
    background-size: cover 100%; }
*.bg-size-25-v {
  background-size: 25%; }
  *.bg-size-25-v.bg-size-auto-h {
    background-size: 25% auto; }
  *.bg-size-25-v.bg-size-contain-h {
    background-size: 25% contain; }
  *.bg-size-25-v.bg-size-cover-h {
    background-size: 25% cover; }
  *.bg-size-25-v.bg-size-25-h {
    background-size: 25% 25%; }
  *.bg-size-25-v.bg-size-50-h {
    background-size: 25% 50%; }
  *.bg-size-25-v.bg-size-75-h {
    background-size: 25% 75%; }
  *.bg-size-25-v.bg-size-100-h {
    background-size: 25% 100%; }
*.bg-size-50-v {
  background-size: 50%; }
  *.bg-size-50-v.bg-size-auto-h {
    background-size: 50% auto; }
  *.bg-size-50-v.bg-size-contain-h {
    background-size: 50% contain; }
  *.bg-size-50-v.bg-size-cover-h {
    background-size: 50% cover; }
  *.bg-size-50-v.bg-size-25-h {
    background-size: 50% 25%; }
  *.bg-size-50-v.bg-size-50-h {
    background-size: 50% 50%; }
  *.bg-size-50-v.bg-size-75-h {
    background-size: 50% 75%; }
  *.bg-size-50-v.bg-size-100-h {
    background-size: 50% 100%; }
*.bg-size-75-v {
  background-size: 75%; }
  *.bg-size-75-v.bg-size-auto-h {
    background-size: 75% auto; }
  *.bg-size-75-v.bg-size-contain-h {
    background-size: 75% contain; }
  *.bg-size-75-v.bg-size-cover-h {
    background-size: 75% cover; }
  *.bg-size-75-v.bg-size-25-h {
    background-size: 75% 25%; }
  *.bg-size-75-v.bg-size-50-h {
    background-size: 75% 50%; }
  *.bg-size-75-v.bg-size-75-h {
    background-size: 75% 75%; }
  *.bg-size-75-v.bg-size-100-h {
    background-size: 75% 100%; }
*.bg-size-100-v {
  background-size: 100%; }
  *.bg-size-100-v.bg-size-auto-h {
    background-size: 100% auto; }
  *.bg-size-100-v.bg-size-contain-h {
    background-size: 100% contain; }
  *.bg-size-100-v.bg-size-cover-h {
    background-size: 100% cover; }
  *.bg-size-100-v.bg-size-25-h {
    background-size: 100% 25%; }
  *.bg-size-100-v.bg-size-50-h {
    background-size: 100% 50%; }
  *.bg-size-100-v.bg-size-75-h {
    background-size: 100% 75%; }
  *.bg-size-100-v.bg-size-100-h {
    background-size: 100% 100%; }

/*# sourceMappingURL=styles.css.map */
