/*  Copyright 2015-2016 Jairo Llopis <jairo.llopis@tecnativa.com>
    License LGPL-3.0 or later (http://www.gnu.org/licenses/lgpl.html).*/

.js_country_dropdown {
    .scrollable-menu {
        height: auto;
        max-height: 200px;
        overflow-x: hidden;
    }
}
