/* © 2016 Tecnativa, S.L.
 * License LGPL-3.0 or later (http://www.gnu.org/licenses/lgpl.html).
 */

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

#country_code_field{
    width: 15%;
}

#no_country_field{
    width: 85%;
}

.flag-button{
    width: 15%;
}
