@charset "utf-8"
/* © 2016 Grupo ESOC Ingeniería de Servicios, S.L.U. - Jairo Llopis
   License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).

.website_blog
    .excerpt-img .img
        height: 15em
        width: 100%
        object:
            fit: cover
            position: center
