.profile-dropdown{
	width:270px;
}
.my-profile{
	margin-top: 5px;
}

.pic img{
    float: left;
    width: 88px;
	height: 70px;
	margin-left: 10px;
	margin-right: 10px;
}

.user-name{
	font-weight: bold;
}

.user-link{
	margin-top: 20px;
}

.link{
	list-style: none;
	margin-left: -28px;
	line-height: 1.5;
	font-size: 18px;
}

.link a{
	font-size: 14px;
	color: #293F4F;
	text-decoration:none;
	text-align:left;
}

.link a:hover {
	color: #2585C6;
}

.edit-icon{
padding: 15px;
color:#91A1AF;
}

.edit-icon:hover {
    color:#00B9FF;
    background-color: #fff;
}

.dropdown-menu .logout li a:hover
{
    background-color: #fff;
}

.dropdown-menu .pic .upload a:hover{
    background-color: rgba(37, 37, 37, 0.9);
}

.upload i{
	color:#fff;
	margin-right: 9px;
}

.upload a{
	color:#fff !important;
	text-decoration:none;
}

.pic:hover .upload {
    display: block;
}

.pic .upload{
    position: absolute;
    margin-left: 10px;
    top: 58px;
    padding: 1px;
    width: 33%;
    display: none;
    text-align: center;
    background: rgba(37, 37, 37, 0.9);
}

.icon-off{
color: #B6C4D6;
margin-right: 5px;
font-size: 18px;
}


.logout{
	list-style: none;
	margin-left: -28px;
	line-height: 1.5;
	font-size: 18px;
}

.logout a{
	font-size: 14px;
	color: #293F4F;
	text-decoration:none;
	text-align:left;
}

.logout a:hover i{
	color: #2585C6;
}

.logout a:hover .font{
	color: #2585C6;
}

.btn-file {
	margin-left: 154px;
	margin-top: 18px;
}

.btn-file > input {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 23px;
  cursor: pointer;
  filter: alpha(opacity=0);
  opacity: 0;
  direction: ltr;
}

.saved-image img{
	height:200px;
	width:200px;
	margin-top: 20px;
}

@media (max-width: 450px) {
    
    .pic .upload{
        top: 98px !important;
        width: 25% !important;
}
    
}