/* Copyright 2018 Onestein
 * License AGPL-3.0 or later (https://www.gnu.org/licenses/agpl). */

.o_existing_attachment_cell .o_existing_attachment_optimize {
    position: absolute;
    top: auto;
    left: auto;
    bottom: 0px;
    right: 16px;
    padding: 3px 4px 5px 5px;
    background-color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 0 1px white;
    border-radius: 0 0 0 2px;
    opacity: 0;
    cursor: pointer;
}

.o_existing_attachment_cell:hover .o_existing_attachment_optimize {
    opacity: 1;
}
