/* Copyright 2018 Onestein
   Copyright 2020 Tecnativa - Alexandre Díaz
 * License AGPL-3.0 or later (https://www.gnu.org/licenses/agpl). */

.o_existing_attachment_cell {
    .o_existing_attachment_optimize {
        position: absolute;
        top: 2px;
        left: auto;
        bottom: auto;
        right: 42px;
        padding: 3px 4px 5px 5px;
        background-color: rgba(255, 255, 255, 0.8);
        text-shadow: 0 0 1px white;
        border-radius: 0 0 0 2px;
        opacity: 0;
        cursor: pointer;

        &:hover {
            background-color: white;
            color: $o-we-color-success;
        }
    }

    &:hover .o_existing_attachment_optimize {
        opacity: 1;
    }
}
